body{
 text-align: center;
 font-size: 30px;
}

#spur{
    grid-area:"spur";

}
#mynd{
    grid-area:"mynd";

}
#Svar1{
    grid-area:"rSvar";

}
#Svar2{
    grid-area:"vSvar";

}



.app{

    
    justify-content: center;



}